* {
    box-sizing: border-box;
}
 body {
     background-color: red;
 }
.square {
    background-color: yellow;
    position: absolute;
    left: 37.5vw;
    top: 25vh;
    width: 25vw;
    height: 25vw;
    transition-delay: 0.5s;
    transition-duration: 2s;
  }

.square:hover {
    background-color: green;
    transform: rotate(180deg);
    border-radius: 50%;
}